 * {
  box-sizing: border-box;
 }

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
