@import-normalize; 
 
 * {
  box-sizing: border-box;
 }

html {
  font-size: 16px;
}

body {
  color: #222;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
<<<<<<< HEAD
=======
  color: inherit;
>>>>>>> dev
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
